{% extends "shared/_layout.html" %}
0
{% block title %}
لیست پروفایل
{% endblock  %}

{% block content %}
    <div class ="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    {% for profile in profiles %}
                        <li> 
                            <p>{{ profile.name}}</p>
                            <img src="{{profile.photo.url}}">
                        </li>
                                  
                    {% endfor %}
                </ul>

            </div>

        </dv>

    </div>



{% endblock  %}